
.error {
  color: red;
  margin-bottom: 15px;
}

.gift-item {
  background-color: #bec0bb3b;
  margin: 15px;
  
}
.gift-name {
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
}

.gift-content {
  padding: 10px;
  width: 100%;
}

.gift-url {
  padding: 10px;
  width: 90%;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
.form {
  border-radius: 5px;
  background-color: #a2a39db6;
  padding: 20px;
  margin: 15px;
 
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.topnav {
  overflow: hidden;
  background-color: rgb(38, 39, 41);
  height: 80px;
}
.topnav-link {
  background-color: #695f5f;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 15px;
  text-decoration: none;
  margin: 15px;
  width: 120px;
}
.logout-button {
  float: right;
  background-color: #695f5f;
  color: white;
  padding: 6px 25px;
  text-align: center;
  margin: 15px;  
}

.button {
  background-color: #695f5f;
  color: white;
  padding: 6px 25px;
  text-align: center;
  margin: 15px; 
}
.button:hover {
  background-color: #484452; 
}

.user{
  background-color: #ebece888;
  margin:15px;
  padding: 5px;
  width: 50%;
}

.header{
  margin:20px
  
}