
.error {
  color: red;
  margin-bottom: 15px;
}

.gift-item {
  background-color: #bec0bb3b;
  margin: 15px;
  padding: 10px;
  
}
.gift-name {
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
}

.gift-content {
  padding: 10px;
  width: 100%;
}

.gift-url {
  padding: 10px;
  width: 90%;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
.form {
  border-radius: 5px;
  background-color: #a2a39db6;
  padding: 20px;
  margin: 15px;
 
}
.column {
  float: left;
  width: 50%;  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.topnav {
  overflow: hidden;
  background-color: rgb(38, 39, 41);
  height: 80px;
}
.topnav-link {
  background-color: #695f5f;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 10px;
  text-decoration: none;
  margin: 15px;
  width: 115px;
  border-radius: 2px;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}
.logout-button {
  float: right; 
}

.login-button, .add-button, .logout-button {
  background-color: #695f5f;
  color: white;
  padding: 6px 25px;
  text-align: center;
  margin: 15px;
  cursor: pointer; 
  border-radius: 2px; 
  border: none; 
  font-family: "PT Sans", sans-serif;
  
}

.add-button:hover, .login-button:hover, .logout-button:hover, .topnav-link:hover {
  background-color: #484452; 
}

.user{
  background-color: #ebece888;
  margin:15px;
  padding: 5px;
  width: 50%;
}

.header{
  margin:20px;   
}
.header2{
  margin:20px; 
  background-color: rgb(209, 199, 201);
  padding: 5px;
  border-radius: 2px;
}

.scroller {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: auto;
}

.button-togglable-green { 
  background:rgb(8, 231, 38);
  padding: 4px;
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
}

.button-steady-green {
  background:rgb(8, 231, 38);
  padding: 4px;
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  border: 0;
  border-radius: 2px;
  cursor:default;
}

.button-togglable-grey {
  background:rgb(75, 69, 69);
  padding: 4px;
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
}

.button-steady-grey {
  background:rgb(75, 69, 69);
  padding: 4px;
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  border: 0;
  border-radius: 2px;
  cursor:default;

}
.button-togglable-green:hover {
  background:rgb(6, 180, 29);
}


.button-togglable-grey:hover{
  background:rgb(44, 42, 42);
}


.giftGivers-line {
  display: flex;
}


.arrow {
  border: solid rgb(80, 75, 75);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.show-more-link{
  margin-left: 6px;
}
.show-less-link{
  margin-left: 6px;

}